<template>
  <li >
    {{item[titleField]}}
  </li>
</template>

<script>
export default {
  name: "VListItem",
  props:{
    item:{
      type: Object,
      required:true
    },
    titleField:{
      default:'title'
    }
  }
}
</script>

<style scoped>

</style>