<template>
  <div>
    <div>
      <h3>{{ title }}</h3>
      <h5>Length:{{ length }}</h5>
    </div>
    <ul>
      <slot v-for="item in items" :item="item">
      <v-list-item :item="item"/>
      </slot>
    </ul>
  </div>
</template>

<script>
import VListItem from "@/components/VListItem.vue";

export default {
  name: "VList",
  components: {VListItem},
  props: {
    items: {
      type: Array,
      required: true
    },
    title: {
      default: 'Default title'
    }
  },
  computed: {
    length() {
      return this.items.length
    }
  }
}
</script>

<style scoped>

</style>