<template>
  <div class="container mt-5">
    <div class="input-block d-flex">
      <div class="flex-grow-1">
        <input type="text" class="w-100 p-2" v-model="todoText" @keydown.enter="addTodo" ref="todoText">
      </div>
      <button class="p-2 ml-3 bth btn-success" @click="addTodo">Add</button>
    </div>
    {{ todoText }}
    <div class="filter-block"></div>
    <div class="list-block">
      <v-list :items="todos" title="Todos list"/>
    </div>
  </div>
</template>

<script>
import VList from "@/components/VList.vue";

export default {
  name: 'App',
  components: {VList},
  data: () => ({
    todos: [],
    todoText: ''
  }),
  created() {
    this.getTodosFromLocalStorage()
  },
  methods: {
    addTodo() {
      const text = this.todoText.trim()
      const count = this.todos.filter(t => t.title === text).length

      if (!text || (count && this.todos.length)) {
        this.clearTodoText()
        this.todoTextFocus()
        return
      }

      const todo = {
        id: +(new Date()),
        title: text,
        completed: false
      }

      this.todos.push(todo)
      this.clearTodoText()
      this.todoTextFocus()
      this.saveToLocalstorage()
    },
    clearTodoText() {
      this.todoText = ''
    },
    todoTextFocus() {
      this.$refs.todoText.focus()
    },

    removeTodo() {

    },
    saveToLocalstorage() {
      localStorage.setItem('todos', JSON.stringify(this.todos))
    },
    getTodosFromLocalStorage() {
      const todos = JSON.parse(localStorage.getItem('todos'))
      if (todos) this.todos = todos
    }
  }
}


</script>

<style>

</style>
